

<div class="user">
  <%= form_for(:session, url: signin_path) do |f| %>

    <h1>Sign In</h1>
    <hr>

    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
</div>
<footer>
  <div class="back">
    <a href="/"><i>HomePage</i></a>|<a href="signup"><i>Register</i></a>
  </div>
</footer>

