
<div class="container ">
<%= user = User.find_by_id(current_user).first_name %>
<%=  user_id = User.find_by_first_name(user).id %>
  <form method="post" action="/register">
    <input type="hidden" id="userId" name="userId" value="<%= user_id %>">
    <% for event in Event.all  %>

      <h4><%= event.title %></h4>
      <% if UserEvent.exists?(user_id: user_id, event_id: event.id) == true %>
        <div style="color: blue">Registered</div>
      <% else %>
        <input type="checkbox" name="reg" value="<%= event.id %>"> Register <br/><br/>
      <% end %>
    <% end %>


    <input type="submit" value="Submit">
  </form>
</div>