<!DOCTYPE html>
<html>
  <head>
    <title>Codegirls</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class='alert alert-<%="#{key}" %>'>
          <a href="#" class="close" data-dismiss="alert">×</a>
          <%= content_tag :div, value, :id => "flash_#{key}" if value.is_a?(String) %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
